<div class="left six columns alpha">
  <div class="field">
    <%= f.label :can_be_part, Spree.t(:can_be_part)%>
    <%= f.check_box(:can_be_part) %>
  </div>
</div>
<div class="right six columns omega">
  <div class="field">
    <%= f.label :individual_sale, Spree.t(:individual_sale)%>
    <%= f.check_box(:individual_sale) %>
  </div>
</div>

<% if @product.assembly? %>
  <% content_for :head do %>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
        $("input#product_can_be_part").attr('disabled',true);
      });
    </script>
  <% end %>
<% end %>
