<p>
  <%= f.label :can_be_part, t("can_be_part")%><br />
  <%= f.check_box(:can_be_part) %>
</p>
<p>
  <%= f.label :individual_sale, t("individual_sale")%><br />
  <%= f.check_box(:individual_sale) %>
</p>

<% if @product.assembly? %>
  <% content_for :head do %>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
      });
    </script>
  <% end %>
<% end %>